<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_this"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_this_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThisApp"
        tools:targetApi="31">
        <activity
            android:name=".PINActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileSettings"
            android:exported="false" />
        <activity
            android:name=".BerandaActivity"
            android:exported="false" />
        <activity
            android:name=".ScanMoodActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".GenderActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DiaryActivity"
            android:exported="false" />
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:theme="@style/Theme.ThisApp" /> <!-- Activity untuk Welcome -->
        <activity
            android:name=".WelcomeActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ThisApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Activity untuk Sign Up -->
        <activity
            android:name=".SignupActivity"
            android:exported="false" /> <!-- Activity untuk Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.ThisApp" /> <!-- Activity untuk Main App -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ThisApp" />
    </application>

</manifest>