<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo_this"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_this_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThisApp"
        tools:targetApi="31">
        <activity
            android:name=".DateHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <!-- Welcome Activity -->
        <activity
            android:name=".WelcomeActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ThisApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true" /> <!-- Pin Activity -->
        <activity
            android:name=".PinActivity"
            android:exported="true"
            android:launchMode="singleTask" /> <!-- Beranda Activity -->
        <activity
            android:name=".BerandaActivity"
            android:exported="true"
            android:launchMode="singleTask" /> <!-- Landing Page -->
        <activity
            android:name=".LandingPage"
            android:exported="false" /> <!-- Profile Settings -->
        <activity
            android:name=".ProfileSettings"
            android:exported="false" /> <!-- Home Page -->
        <activity
            android:name=".HomePageActivity"
            android:exported="false" /> <!-- Gender Activity -->
        <activity
            android:name=".GenderActivity"
            android:exported="false" /> <!-- Diary Activity -->
        <activity
            android:name=".DiaryActivity"
            android:exported="false" /> <!-- Signup Activity -->
        <activity
            android:name=".SignupActivity"
            android:exported="false" /> <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.ThisApp" /> <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ThisApp" />
    </application>

</manifest>